body{
  background-color: rgb(213, 252, 239);
 }
 h3 {
     text-align: center;
     margin-top: 10px;
 }
 img {
     float: left;
     margin-top: 40px;
 }
 p {
  font-weight: 1000;
  font-size: 22px;
  float: left;
 }
 .a {
  margin-left: 12%;
  display: inline-block;
 }
.b {
    display: inline-block;
    align-content: center;
    margin-left: 12%;
    margin-right: 13%;
   }
.c {

}
.d {
    margin-left: 12%;
}
.e {
    margin-left: 14%;
}
.f {
    margin-left: 13.5%;
}
  .g {
    margin-left: 12%;
    display: inline-block;
    margin-top: 110px;
   }
  .h {
      display: inline-block;
      align-content: center;
      margin-left: 15%;
      margin-right: 7%;
      margin-top: 130px;
     }
  .i {
  margin-top: 85px;
  }
  .j {
      margin-left: 12%;
  }
  .k {
      margin-left: 15%;
  }
  .l {
      margin-left: 10%;
  }
  .m {
    margin-left: 13%;
    display: inline-block;
    margin-top: 140px;
   }
  .n {
      display: inline-block;
      align-content: center;
      margin-left: 18%;
      margin-right: 9%;
      margin-top: 115px;
     }
  .o {
  margin-top: 168px;
  }
  .p {
      margin-left: 13%;
  }
  .q {
      margin-left: 8%;
  }
  .r {
      margin-left: 5%;
  }
 .loading{
  font-size: 10px;
  text-align: center;
  margin-top: 40px;
 }
 .loading > div{
  -webkit-animation: sa-stretchdelay 1.4s infinite ease-in-out;
  animation: sa-stretchdelay 1.4s infinite ease-in-out;
  font-family: arial;
  display: inline-block;
 }
 .loading .letter1 {
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
  font-size: 64px;
  height: 160px;
  color: red;
 }
 .loading .letter2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
  font-size: 64px;
  height: 160px;
  color: orange;
 }
 .loading .letter3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
  font-size: 64px;
  height: 160px;
  color: yellow;
 }
 .loading .letter4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
  font-size: 64px;
  height: 160px;
  color: green;
 }
 .loading .letter5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  font-size: 64px;
  height: 160px;
  color: blue;
 }
 .loading .letter6 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
  font-size: 64px;
  height: 160px;
  color: rgb(213, 252, 239);
 }
 .loading .letter7 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
  font-size: 64px;
  height: 160px;
  color: purple;
 }
 .loading .letter8 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
  font-size: 64px;
  height: 160px;
  color: red;
 }
 .loading .letter9 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
  font-size: 64px;
  height: 160px;
  color: orange;
 }
 .loading .letter10 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
  font-size: 64px;
  height: 160px;
  color: yellow;
 }
 .loading .letter11 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
  font-size: 64px;
  height: 160px;
  color: green;
 }
 .loading .letter12 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
  font-size: 64px;
  height: 160px;
  color: blue;
 }
 .loading .letter13 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  font-size: 64px;
  height: 160px;
  color: purple;
 }
 .loading .letter14 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  font-size: 64px;
  height: 160px;
  color: red;
 }
 .loading .letter15 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  font-size: 64px;
  height: 160px;
  color: orange;
 }
 .loading .letter16 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  font-size: 64px;
  height: 160px;
  color: yellow;
 }
 @keyframes sa-stretchdelay {
  0%, 40%, 100%{
  transform: scaleY(1.0);
  -webkit-transform: scaleY(1.0);
  }
  20%
  {
  transform:scaleY(1.3);
  -webkit-transform:scaleY(1.3);
  }
 }
 @-webkit-keyframes sa-stretchdelay{
  0%, 40%, 100% { -webkit-transform: scaleY(0.4); }
  20% { -webkit-transform: scaleY(1.0); }
 }
